[{:db/id -1, :submission/id :kotoba, :submission/state :draft, :submission/current-primary-category "cs.CL", :submission/current-cross-lists ["cs.DB" "cs.DC" "cs.CR"], :submission/attempts "[{:attempted-at \"2026-06-28T22:22:00+09:00\", :attempted-url \"https://arxiv.org/submit/7761862/start\", :attempted-primary-category \"cs.DB\", :result :hold, :hold-reason :endorsement-required, :server-message \"You are not endorsed for this archive.\", :next-action :retry-with-endorsed-cs-cl}]", :submission/next-action :continue-draft-workflow}]