[{:db/id -1, :facts.categories/source "seed", :facts.categories/categories "[{:id \"cs.DB\", :label \"Databases\"} {:id \"cs.DC\", :label \"Distributed, Parallel, and Cluster Computing\"} {:id \"cs.CR\", :label \"Cryptography and Security\"} {:id \"cs.PL\", :label \"Programming Languages\"} {:id \"cs.AI\", :label \"Artificial Intelligence\"} {:id \"cs.CL\", :label \"Computation and Language\"} {:id \"cs.LG\", :label \"Machine Learning\"} {:id \"gr-qc\", :label \"General Relativity and Quantum Cosmology\"} {:id \"hep-th\", :label \"High Energy Physics - Theory\"} {:id \"math-ph\", :label \"Mathematical Physics\"}]"}]