{:skill/id :arxiv.fill-start-form
 :skill/uses :yorishiro/arxiv
 :skill/risk :external-draft
 :skill/params [:draft-id :primary-category :license]
 :skill/doc
 "Fill arXiv v1.5 Start page: certify contact, scroll+accept Submittal Agreement
  modal (#accept-terms), authorship, CC-BY license, archive/subject class."
 :skill/routes
 [{:route/id :browser-dom
   :steps
   [{:do :navigate
     :url [:str "https://arxiv.org/submit/" [:param :draft-id] "/start"]}
    {:do :check :match {:css "input[name=userinfo]"}}
    ;; Agreement modal: openTerms checkbox opens modal; must scroll before Accept
    {:do :click :match {:css "input[name=agree_terms_conditions]"}}
    {:do :scroll-modal-to-end :match {:css ".modal__content, #modal-1-content"}}
    {:do :click :match {:css "#accept-terms"} :force true}
    ;; hidden sentinel value=0 is pre-checked; author is value=1 (NOT nth 0)
    {:do :check :match {:css "input[name=is_author][value='1']"}}
    {:do :check
     :match {:css "input[name=license][value='http://creativecommons.org/licenses/by/4.0/']"}}
    {:do :select
     :match {:css "select[name=archive]"}
     :value [:param :archive "cs"]}
    {:do :wait :ms 1200}
    {:do :select
     :match {:css "select[name=subject_class]"}
     :value [:param :primary-category]}
    {:do :click :match {:text "Continue"}}
    {:do :screenshot :as "arxiv-start-form-done"}
    {:do :checkpoint :id :start-form-complete}]}
  {:route/id :computer
   :steps [{:do :run
            :argv ["python" "-m" "arxiv_submit"
                   "--package" [:param :package-dir]
                   "--stop-after" "start"
                   "--resume-draft" [:param :draft-id]]}]}]}
